DB_HOST=
DB_PORT=
DB_USER= 
DB_PASSWORD=
DB_NAME=

# Keycloak token validation
KEYCLOAK_HOST=http://localhost:5433
KEYCLOAK_REALM=eventhub
KEYCLOAK_CLIENT_ID=backend
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_AUDIENCE=backend
KEYCLOAK_ALLOWED_AZP=frontend
KEYCLOAK_SIGNING_ALGORITHM=RS256
KEYCLOAK_REQUEST_TIMEOUT=2s
